<!DOCTYPE html>
<html>
  <head>
    <title>Portafolio para EasyBroker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-[--gris-fondo]">
    <%= render partial: 'partials/navbar' %>
    <main class="px-5 w-[1100px] mx-auto my-5">
      <%= yield %>
    </main>
  </body>
</html>
